<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="nakira974" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/nakira974/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="UIPath Official" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" />
    <add key="UIPath Local" value="C:\Users\maxim\AppData\Local\Programs\UiPath\Studio\Packages" />
    <add key="UIPath Marketplace" value="https://gallery.uipath.com/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="nakira974.github" value="true" />
  </disabledPackageSources>
</configuration>